<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">

        <title>Market Place Produce</title>
        <meta name="description" content="A locally owned and operated produce business in the Edmond area">

        <!-- OpenGraph -->
        <meta property="og:title" content="Market Place Produce">
        <meta property="og:site_name" content="Market Place Produce">
        <meta property="og:url" content="https://marketplaceproduce.com">
        <meta property="og:description" content="A locally owned and operated produce business in the Edmond area">
        <meta property="og:type" content="business">
        <meta property="og:image" content="https://marketplaceproduce.com/img/og.png">

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="Market Place Produce"/>
        <meta name="twitter:description" content="A locally owned and operated produce business in the Edmond area"/>
        <meta name="twitter:site" content="@marketplaceproduce"/>
        <meta name="twitter:image" content="https://marketplaceproduce.com/img/og.png"/>
        
        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Condensed:700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body class="has-animations">
